[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/molokai.vim"]
	path = bundle/molokai.vim
	url = https://github.com/tomasr/molokai.git
